@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F8F9FF;
}

.container {
  max-width: 1200px;
  min-width: 200px;
  margin: 0 auto;
}

#burger, [for=burger] {
  display: none;
}

.top {
  height: 815px;
  background-image: url(img/Backgraund_top_new.png);
  background-position: left bottom;
}

.logo__top {
  background-image: url(img/logo_top.svg);
  margin: 50px 10px 50px 10px;
  width: 180px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo__top:hover {
  /* display: inline-block */
  background: #EF2A82;
  -webkit-mask-image: url(img/logo_top.svg);
  --mask-image:url(img/logo_top.svg);
  cursor: pointer;
}

.signup__top:hover {
  color: white;
}

.signin__top:hover {
  color: white;
}

.header-link:hover {
  color: white;
}

.header, a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

label {
  font-size: 24px;
  line-height: 24px;
  color: #8794BA;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav__right {
  display: flex;
  justify-content: space-between;
}

.sign {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.header-link {
  margin: auto;
}

.header-nav {
  max-width: 352px;
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.space {
  max-width: 500px;
}

.signin__top {
  margin: 30px;
}

.signup__top {
  width: 161px;
  height: 40px;
  border: 1px solid;
  border-radius: 68px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Вторая часть блока Main */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__right {
  width: 47%;
}

.img__box {
  height: 625px;
  background: url(img/main-screen.png);
  background-repeat: no-repeat;
  /* background-size: 100% */
  background-size: 100% auto;
  background-position: right;
}

.main__left {
  width: 35%;
  margin: 0 5% 0 13%;
  /* margin: auto 5% auto 13% */
}

.title__h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 100px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 15px auto 50px;
}

.desc2 {
  display: none;
}

.button__text {
  width: 238px;
  height: 50px;
  background: #EF2A82;
  border: 1px solid #EF2A82;
  border-radius: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button__text:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #EF2A82;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1600px) {
  .img__box {
    background-size: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    box-shadow: 0px 4px 4px #12214D;
  }
  .signup__top {
    display: none;
  }
  .signin__top {
    margin: 10px;
    margin-right: 22px;
  }
  .logo__top {
    margin: 20px 10px;
    width: 135px;
    height: 30px;
  }
  .logo__top:hover {
    /* display: inline-block */
    margin: 20px 10px;
    width: 135px;
    height: 30px;
    background: #EF2A82;
    -webkit-mask-image: url(img/logo_top_mini.svg);
    --mask-image:url(img/logo_top_mini.svg);
  }
  .header-nav {
    gap: 3.5vw;
  }
  .main {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
  }
  .main__left {
    width: 90%;
    margin: 0;
  }
  .title__h1 {
    margin: 0;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .main__right {
    width: 90%;
    max-height: 470px;
    position: relative;
    border-radius: 12.5px;
  }
  .main__right:before {
    position: relative;
    width: 90%;
  }
  .img__box {
    margin: 29px auto 26px;
    max-width: 600px;
    height: 1px;
    padding-top: 69%;
    background: url(img/main-screen-new.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    border-radius: 3%;
    filter: drop-shadow(0px 18px 50px -15px rgba(25, 42, 89, 0.2));
  }
  .main__right > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .description {
    margin: 15px auto 26px;
  }
  .desc1 {
    display: none;
  }
  .desc2 {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .top {
    height: calc(38vw + 588px);
    background-image: url(img/Backgraund_top_new.png);
  }
  .header-nav {
    display: none;
  }
  .nav__right {
    margin: 0px;
    order: 1;
  }
  .signin__top {
    margin: 0;
    margin-right: 18px;
  }
  .header {
    width: 100%;
  }
  .header-link {
    padding: 0;
    display: block;
    margin: 10px 10px;
  }
  label:hover {
    color: white;
  }
  [for=burger] {
    display: block;
    position: fixed;
    width: 24px;
    text-align: center;
    right: 22px;
    top: 23px;
  }
  [for=burger]::before {
    content: "☰";
  }
  .header-nav {
    display: none;
    position: fixed;
    z-index: 10;
    top: 70px;
    right: 10px;
    margin-top: 30px;
    background: rgba(23, 38, 85, 0.7411764706);
    width: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .header-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #burger:checked + label + .header-nav {
    display: block;
    animation: show 0.5s ease;
  }
  #burger:checked + [for=burger]::before {
    content: "🞫";
  }
  .description {
    margin: 15px auto 26px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .button__text {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .top {
    height: 730px;
    background-image: url(img/background-top-mobile.png);
  }
}
@media screen and (max-width: 350px) {
  .logo__top {
    background-image: url(img/logo_solo_mini.png);
    margin: 20px 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo__top:hover {
    margin: 20px 10px;
    width: 30px;
    height: 30px;
    background: white;
    -webkit-mask-image: url(img/logo_solo_mini.png);
    --mask-image:url(img/logo_solo_mini.png);
  }
  .space {
    display: none;
  }
}
@media screen and (max-width: 200px) {
  .signin__top {
    display: none;
  }
}
.features {
  padding: 0 10px;
}

.main__features {
  margin-top: 38px;
}

.title__h2 {
  padding-bottom: 30px;
  max-width: 620px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #172755;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

.description__features {
  max-width: 1060px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

.icons {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
}

.item__icon {
  width: 32.5%;
}

.icon {
  width: 60px;
  height: 60px;
}

.clock {
  background: url(img/Icon_clock.svg) center/60px 60px no-repeat;
}

.monitor {
  background: url(img/Icon_monitor.svg) center/60px 60px no-repeat;
}

.rocket {
  background: url(img/Icon_rocket.svg) center/60px 60px no-repeat;
}

.title__icon {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #172755;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

.desc__icon {
  margin: 15px 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

.item__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}

@media screen and (max-width: 600px) {
  .features {
    padding: 0 5%;
  }
  .title__h2, .description__features {
    text-align: left;
  }
  .title__h2 {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #172755;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .description__features {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .main__features {
    margin-top: 50px;
  }
  .item__icon {
    width: 100%;
  }
  .icons {
    gap: 35px;
  }
  .title__icon {
    text-align: left;
  }
  .desc__icon {
    margin: 9px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;
  }
  .item__icon {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .text__icon {
    width: 75%;
  }
}
@media screen and (max-width: 350px) {
  .item__icon {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .text__icon {
    width: 100%;
  }
  .title__icon, .desc__icon {
    text-align: center;
  }
}
.screenshots {
  margin-top: 130px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding-bottom: 114px;
}

.screenshot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.screenshot2 {
  flex-direction: row-reverse;
}

.screen__text {
  width: 41%;
}

.screen__img {
  width: 51%;
}

.screen__pic {
  width: 100%;
  border-radius: 6%;
  background: #FFF;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}

.screen__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #172755;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.screen__desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .screenshot {
    justify-content: center;
  }
  .screenshots {
    margin-top: 70px;
    gap: 60px;
  }
  .screen__text {
    width: 80%;
    text-align: center;
  }
  .screen__desc {
    margin: 20px 0 30px;
    text-align: center;
  }
  .screen__img {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .screenshots {
    padding-bottom: 56px;
  }
  .screen__text {
    width: 100%;
  }
  .screen__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #172755;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;
  }
  .screen__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;
  }
  .screen__img {
    max-width: 500px;
  }
}
.price__plans {
  height: 1086px;
  background: url(img/Backgraund_bottom_new.png) right bottom/auto 1086px no-repeat;
  padding-top: 1px;
}

.priceplans__text {
  margin: 272px auto 80px;
  padding: 0 10px;
  text-align: center;
}

.pricing__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.pricing__desc {
  max-width: 650px;
  margin: 30px auto 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.offers-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
  overflow-x: hidden;
}

.offer {
  flex-shrink: 0;
  width: 340px;
  height: 440px;
  margin-bottom: 44px;
  border-radius: 30px;
  opacity: 0.7;
  background: #0F1F4B;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  text-align: center;
}

.offer__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 50px auto 10px;
}

.offer__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.hr1 {
  width: 220px;
  size: 1px;
  border: 1px solid #2A407C;
  margin: 37px auto 28px;
}

.offer__currency {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.offer__price {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.offer__period {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 40px;
}

.order__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 68px;
  border: 1px solid #2A407C;
}

.offer2 {
  background: #FFF;
  opacity: 1;
  box-shadow: 0px 18px 50px -15px #060F28;
}

.offer__title2 {
  color: #172755;
}

.hr2 {
  border: 1px solid #D3D9E9;
}

.offer__currency2 {
  color: #172755;
}

.offer__price2 {
  color: #172755;
}

.order__button2 {
  background: #EF2A82;
  border: 1px solid #EF2A82;
}

.order__button:hover {
  background: #EF2A82;
  border: 1px solid #EF2A82;
}

.order__button2:hover {
  background: #0F1F4B;
  border: 1px solid #2A407C;
}

.line {
  display: none;
}

@media screen and (max-width: 1115px) {
  .offers-box {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .price__plans {
    height: 860px;
    background: url(img/background-bottom-small.png) right top/auto 860px no-repeat;
  }
  .line {
    display: block;
  }
  .hr__prices {
    size: 1px;
    border: 1px solid #2A407C;
    margin: 0 10px;
  }
  .priceplans__text {
    margin: 150px auto 59px;
  }
  .pricing__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;
  }
  .pricing__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;
    margin: 20px auto 0;
  }
  .offer {
    flex-shrink: 0;
    width: 280px;
    height: 358px;
    border-radius: 30px;
    background: #FFF;
    opacity: 1;
    box-shadow: 0px 18px 50px -15px #060F28;
    text-align: center;
  }
  .offer__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #172755;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 35px auto 7px;
  }
  .offer__desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .hr1 {
    width: 220px;
    size: 1px;
    border: 1px solid #D3D9E9;
    margin: 30px auto 20px;
  }
  .offer__currency {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #172755;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .offer__price {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #172755;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .offer__period {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8794BA;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 36px;
  }
  .order__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: inline-flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 68px;
    background: #EF2A82;
    border: 1px solid #EF2A82;
  }
  .order__button:hover {
    background: #0F1F4B;
    border: 1px solid #2A407C;
  }
}
.signup__form {
  max-width: 962px;
  margin: 109px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.use__analytics, .signup__box {
  width: 50%;
  height: 522px;
}

.signup__box {
  background: url(img/bg_signup.png) bottom no-repeat;
  display: flex;
}

.signup__logos, .signup {
  max-width: 428px;
  height: 475px;
  background: #F8F9FF;
}

.logos__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #160637;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 47px 0 75px;
}

.trustedby {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8989A2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 140px;
  text-align: center;
}

.trustedby__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.left__hr, .right__hr {
  color: rgb(214, 214, 214);
  width: 144px;
  height: 0;
  color: rgb(214, 214, 214);
}

.client__logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 302px;
  height: 156px;
}

.logo__item {
  width: 50%;
  height: 77px;
}

.accenture {
  background: url(img/accenture.svg) left top no-repeat;
}

.react {
  background: url(img/react.svg) right top no-repeat;
}

.airbnb {
  background: url(img/airbnb.svg) left bottom no-repeat;
}

.sky {
  background: url(img/sky.svg) right bottom no-repeat;
}

.signup {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  padding: 17px 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 4px 4px 12px 0px rgba(137, 137, 162, 0.12);
}

.signup__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #160637;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button__freetrial {
  width: 100%;
  max-width: 344px;
}

.button__signup {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: inline-flex;
  width: 100%;
  max-width: 344px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(114, 46, 209);
  background: rgb(114, 46, 209);
  border-radius: 4px;
}

.button__signup:hover {
  background: white;
  color: rgb(114, 46, 209);
}

.input {
  height: 51px;
  width: 100%;
  max-width: 348px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8989A2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8989A2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.help__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.stars {
  display: flex;
  justify-content: space-between;
  width: 95px;
}

.star {
  color: rgb(255, 211, 111);
  font-size: 20px;
}

.signup_hr {
  width: 336px;
  height: 0;
  border: 1px solid rgb(137, 137, 162);
  opacity: 0.5;
}

.login {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.login__link {
  color: rgb(114, 46, 209);
}

@media screen and (max-width: 1024px) {
  .signup__form {
    margin: 5vw auto;
  }
  .use__analytics {
    display: none;
  }
  .signup__box {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }
  .signup {
    max-width: 428px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 375px) {
  .signup__form {
    margin: 35px auto;
  }
  .signup__box, .signup {
    height: 475px;
  }
  .button__signup {
    max-width: 344px;
  }
}
.footer {
  width: 100%;
  height: 154px;
  background: #1F2F5C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__cont {
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__bottom {
  background-image: url(img/logo-foot.png);
  width: 138px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.logo__bottom:hover {
  background: #EF2A82;
  -webkit-mask-image: url(img/logo-foot.png);
  --mask-image:url(img/logo-foot.png);
  cursor: pointer;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.menu__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.menu__item:hover {
  color: rgb(255, 255, 255);
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.icon__soc {
  font-size: 24px;
  color: rgb(135, 148, 186);
}

.icon__soc:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 15vw;
  }
  .footer__nav {
    gap: 3.5vw;
  }
  .socials {
    gap: 4vw;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    height: 97px;
  }
  .logo__bottom {
    width: 124px;
    height: 24px;
  }
  .logo__bottom:hover {
    background: #EF2A82;
    -webkit-mask-image: url(img/logo-foot-small.png);
    --mask-image:url(img/logo-foot-small.png);
    cursor: pointer;
  }
  .footer__nav {
    display: none;
  }
  .socials {
    gap: 40px;
  }
}
@media screen and (max-width: 350px) {
  .logo__bottom {
    width: 24px;
    height: 24px;
  }
  .socials {
    gap: 11vw;
  }
}/*# sourceMappingURL=style.css.map */