@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
}

#burger, [for=burger] {
  display: none;
}

.top {
  height: 815px;
  background-image: url(img/Backgraund_top_new.png);
}

.container {
  border: 1px solid black;
  max-width: 1200px;
  min-width: 200px;
  margin: 0 auto;
}

.logo__top {
  background-image: url(img/logo_top.svg);
  margin: 50px 10px 50px 10px;
  width: 180px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo__top:hover {
  /* display: inline-block */
  background: #EF2A82;
  -webkit-mask-image: url(img/logo_top.svg);
}
.signup__top:hover {
  color: white;
}

.signin__top:hover {
  color: white;
}

.header-link:hover {
  color: white;
}

.header, a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

label {
  font-size: 24px;
  line-height: 24px;
  color: #8794BA;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav__right {
  display: flex;
  justify-content: space-between;
}

.sign {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.header-link {
  margin: auto;
}

.header-nav {
  max-width: 352px;
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.space {
  max-width: 500px;
}

.signin__top {
  margin: 30px;
}

.signup__top {
  width: 161px;
  height: 40px;
  border: 1px solid;
  border-radius: 68px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Вторая часть блока Main */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.main__right {
  width: 47%;
  height: 625px;
  background: url(img/main-screen.png);
  background-repeat: no-repeat;
  /* background-size: 100% */
  background-size: 100% auto;
  background-position: right;
  /* background-image: unset */
  /* object-fit:scale-down */
}

.main__left {
  width: 35%;
  margin: 0 5% 0 13%;
  /* margin: auto 5% auto 13% */
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 100px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 15px auto 50px;
}

.button__text {
  width: 238px;
  height: 50px;
  background: #EF2A82;
  border: 1px solid #EF2A82;
  border-radius: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button__text:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #EF2A82;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1600px) {
  .main__right {
    background-size: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .signup__top {
    display: none;
  }
  .signin__top {
    margin: 10px;
    margin-right: 22px;
  }
  .logo__top {
    margin: 20px 10px;
    width: 135px;
    height: 30px;
  }
  .logo__top:hover {
    /* display: inline-block */
    margin: 20px 10px;
    width: 135px;
    height: 30px;
    background: #EF2A82;
    -webkit-mask-image: url(img/logo_top_mini.svg);
  }
}
@media screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }
  .nav__right {
    margin: 0px;
    order: 1;
  }
  .signin__top {
    margin: 0;
    margin-right: 18px;
    /* justify-content: flex-end */
  }
  .header {
    width: 100%;
  }
  .header-link {
    padding: 0;
    display: block;
    margin: 10px 10px;
  }
  label:hover {
    color: white;
  }
  [for=burger] {
    display: block;
    position: fixed;
    width: 24px;
    text-align: center;
    right: 22px;
    top: 23px;
  }
  [for=burger]::before {
    content: "☰";
  }
  .header-nav {
    display: none;
    position: fixed;
    top: 70px;
    right: 10px;
    margin-top: 30px;
    background: rgba(23, 38, 85, 0.7411764706);
    width: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .header-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #burger:checked + label + .header-nav {
    display: block;
    animation: show 0.5s ease;
  }
  #burger:checked + [for=burger]::before {
    content: "🞫";
  }
}
@media screen and (max-width: 350px) {
  .logo__top {
    background-image: url(img/logo_solo_mini.png);
    margin: 20px 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo__top:hover {
    /* display: inline-block; */
    /* background: #EF2A82; */
    margin: 20px 10px;
    width: 30px;
    height: 30px;
    background: white;
    -webkit-mask-image: url(img/logo_solo_mini.png);
  }
  .space {
    display: none;
  }
}
@media screen and (max-width: 200px) {
  .signin__top {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */